@charset "gb2312";
html,body,div,table,th,td,p,ul,li,aa,dl,dt,dd{ font-family:Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; padding: 0px; margin:0px; color:#787878}
body{ text-align:center}
div{ overflow:hidden}
a{ text-decoration:none; outline:none; }
table,th,td{ border-collapse:collapse; border-spacing:0px; vertical-align:top}
ul,li{ list-style-type:none; background-repeat:no-repeat}
#container{ margin:0px auto;width:1003px; text-align:left}
a:link{ color:#787878}/*常规，非访问超链接*/
a:visited{ color:#787878}
a:hover { color:#333333; text-decoration: none}/*访问者操作鼠标通过时的链接 */
a:active{ color:#990000; text-decoration:underline}/*点击链接*/
img{ border:none}

/*分页样式*/
#Divpage{width:290px; margin:0 auto; text-align:center; padding-left:10px; padding-top:18px;}
#Divpage li{ float:left; width:auto; padding:2px;}
#Divpage li a { color:#333; font-size:12px; }
#Divpage li a:visited { color:#333; font-size:12px; }
#Divpage li a:hover { color:#0079b8; font-size:12px; }



/*sidebar类别*/
.proLi{ width:160px; line-height:30px; border-bottom:#CCCCCC solid 1px; display:block; background:url(../images/li.jpg) no-repeat 30px 50%; padding-left:50px; margin-left:32px;}

a.nav{ width:100px; text-align:center; display:block; float:left; color:#FFFFFF; line-height:30px;}

#footer{
padding-top:30px;
}
#footer p{
text-align:center;

}

.left_fwdh{
width:160px;
border:1px #888 solid;
height:55px;
margin-bottom:5px;
margin-left:28px;
}

.left_fwdh a{
color:#000;
}

.left_fwdh a:visited{
color:#000;
}

#nav{
padding-top:20px;
margin-left:65px;
}

#nav li{
width:113px;
float:left;
font-size:14px;
font-weight:bold;
}

#nav li a{
color:#000;
text-align:center;
}
#nav li a:visited{
color:#000;
}

#neiye_main{
margin:5px 20px;
}

#neiye_text{
line-height:25px;
}

#index_about{
width:170px;
margin-left:20px;
}

#index_about p{
line-height:28px;
}

#index_qymb{
width:680px;
margin-left:10px;
line-height:25px;
margin-bottom:20px;
}

#index_fwcn{
margin:5px;
width:190px;
}

#index_fwcn li{
background: url(../images/aa.jpg) no-repeat 0px 5px;
line-height:24px;
}

.index_jdcs{
margin:5px;
width:240px;
float:left;
}

.index_jdcs li{
background: url(../images/aa.jpg) no-repeat 0px 5px;
line-height:24px;
}


